body,div,p {
	margin:0;
	padding:0;
	font-family:Helvetica,sans-serif;
	font-size:18px;
}

html {
	background:url("./beach.jpg") no-repeat center center fixed;
	background-size:cover;
}

.menu {
	position:fixed;
	top:10%;
	left:-40px;
	z-index:100;
}

.menu li {
	list-style:none;
	display:block;
	margin-bottom:5px;
	margin-left:0;
	padding:20px;
	background-color:rgba(0,0,0,0.7);
	box-sizing:border-box;
	text-align:center;
	width:140px;
	cursor:pointer;
}

.menu li.active {
	background-color:rgba(91,193,177,.75);
	cursor:default;
}

.menu li a {
	text-decoration:none;
	color:#fff;
}

.page {
	position:relative;
	background-color:rgba(0,0,0,0.7);
	width:70%;
	height:100%;
	position:fixed;
	left:-70%;
	overflow:hidden;
	z-index:10;
}

.page-content {
	position:absolute;
	width:55%;
	height:80%;
	top:10%;
	right:15%;
	color:#fff;
	overflow:auto;
}

/* #image-container{
	display: none;
} */

.imagebox{
	display: flex;
	flex-wrap: wrap;
	height: 50px;
	width: 50px;
}

#footing{
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

/* plane */
body {
	margin-top: 80px;
	background: gainsboro;
  }
  .container {
	margin: auto;
	width: 60%;
	background-color: transparent;
  }
  
  .path {
	position: relative;
	overflow: hidden;
	width: 800px;
	height: 80px;
	background-color: #c1c1c1;
	margin: 0;
  }
  .shape {
	position: absolute;
	left: 0;
	background-color: red;
	width: 80px;
	height: 80px;
	display: block;
	top: 0;
	
	transition: all 2s ease-in-out;
	animation: ani 2.7s infinite;
  }
  
  
  @keyframes ani {
	0% {
	  left: 0;
	}
	50% {
	  left: 720px;
	}
	100% {
	  left: 0;
	}
  }